<div class="container" style="margin-top: 15px;">
    <div class="jumbotron">
        <h1>Sources</h1>
        <p>Sources are field level representations of input files.</p>
        <div>
            <button type="button" class="btn btn-primary" routerLink="/src-edit"><span class="fa fa-plus"></span> New Source</button>
            <button type="button" class="btn btn-primary" routerLink="/src-list"><span class="fa fa-binoculars"></span> Sources List</button>
        </div>
    </div>
    <div class="jumbotron">
        <h1>Targets</h1>
        <p>Targets are the field formats which are populated by Maps.</p>
        <div>
            <button type="button" class="btn btn-primary" routerLink="/tgt-edit"><span class="fa fa-plus"></span> New Target</button>
            <button type="button" class="btn btn-primary" routerLink="/tgt-list"><span class="fa fa-binoculars"></span> Targets List</button>
        </div>
    </div>
    <div class="jumbotron">
        <h1>Maps</h1>
        <p>Maps contain multiple Transformations, each Transformation specifies what fields from Sources to transform to a Target, in what format, and under what conditions.</p>
        <div>
            <button type="button" class="btn btn-primary" routerLink="/map-edit"><span class="fa fa-plus"></span> New Map</button>
            <button type="button" class="btn btn-primary" routerLink="/map-list"><span class="fa fa-binoculars"></span> Maps List</button>
            <button type="button" class="btn btn-primary" routerLink="/run-maps"><span class="fa fa-play"></span> Run Maps</button>
        </div>
    </div>
</div>
