<div *ngIf="fieldDataType=='date'">
    <button type="button" class="btn btn-default" (click)="showDialog()"><span class="glyphicon glyphicon-pencil"></span> Custom Date Format</button>
</div>

<!-- Modal to contain Format fields -->
<p-dialog header="Select Source Field" [(visible)]="display">
    <!--Date Editing-->
    <div *ngIf="fieldDataType=='date'" class="container-fluid">
        <date-format></date-format>
    </div>
    <div>
        <button type="button" class="btn btn-primary" (click)="showDialog()" [disabled]="!hasValidFormat">Use Format</button>
        <button type="button" class="btn btn-secondary" (click)="selectFormat()">Close</button>
    </div>
</p-dialog>
