<div class="panel panel-default input-container">
    <div class="panel-heading">
        Rule Options
    </div>
    <div class="panel-body">
        <!-- Select target field -->
        <div>
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" (click)="openTargetSelect(content, condition)"><span class="glyphicon glyphicon-search"></span> Target Field</button>
                </span>
                <label *ngIf="rule.targetField != null" class="form-control hide-overflow">{{rule.targetField.name}}</label>
                <label *ngIf="rule.targetField == null" class="form-control hide-overflow">Target Field</label>
            </div>
        </div>
        <hr />
        <!-- Select operation -->
        <div>
            <label>Assignment Options</label>
            <div *ngFor="let rule_Opt of rule_Operations">
                <label>
                    <input type="radio" name="rule_Opt" [(ngModel)]="rule.rule_Operation"
                           [value]="rule_Opt.value" [checked]>
                    {{rule_Opt.display}}
                </label>
            </div>
        </div>
    </div>
</div>
<div *ngIf="rule.rule_Operation != ''" class="panel panel-default">
    <div class="panel-heading">
        Add / Edit Rule Values
    </div>
    <div class="panel-body">
            <form #ruleForm="ngForm">               
                <!-- Show if operation applies to rule source fields -->
                <div *ngIf="rule.rule_Operation == 'sfield'">
                    <rulesourcefield-addedit></rulesourcefield-addedit>
                </div>
                <!-- Show for assign op -->
                <div *ngIf="rule.rule_Operation == 'assign'">

                </div>  
                <!-- Show for plain text op -->
                <div *ngIf="rule.rule_Operation == 'text'">
                    <div class="form-group">
                        <label for="rule_Value">Rule Value</label>
                        <textarea class="form-control textarea-resize" id="rule_Value"
                                    [(ngModel)]="rule.rule_Value" name="rule_Value"
                                    #rule_Value="ngModel"
                                    placeholder="Value to set if conditions evaluate to true for a field"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="alt_Value">Alt Value (optional)</label>
                        <textarea class="form-control textarea-resize" id="alt_Value"
                                    [(ngModel)]="rule.alt_Value" name="alt_Value"
                                    #alt_Value="ngModel"
                                    placeholder="Value to set if conditions evaluate to false for a field"></textarea>
                    </div>
                </div>                                       
            </form> 
        
    </div>
</div>
<!-- Modal to contain Source / Target Selection component -->
<template ngbModalContainer #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Select a Target Field</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-6">
                <target-list></target-list>
            </div>
            <div class="col-sm-6">
                <targetfield-list></targetfield-list>
            </div>
        </div>   
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="c('Select TField')" [disabled]="!hasSelectedTargetField">Select Target Field</button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</template>
