<div class="container-fluid" style="margin-bottom: 20px;">
    <h2>Add / Edit Maps</h2>
    <hr />
    <form [formGroup]="mapForm" novalidate (ngSubmit)="onSubmit(mapForm.value)">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Description</label>
                    <input type="text" class="form-control" formControlName="description" />
                    <small *ngIf="!mapForm.controls.description.valid" class="text-danger">
                        Description is required
                    </small>
                </div>
                <div class="form-group">
                    <label>Effective Date</label>
                    <input class="form-control" type="date" formControlName="effective_Date" />
                </div>
                <div class="form-group">
                    <label>Active</label>
                    <input type="checkbox" formControlName="active" />
                </div>
            </div>  
        </div>  
        <button type="button" class="btn btn-default" (click)="addTransform()"><span class="glyphicon glyphicon-plus"></span> Add Transformation</button>
        <hr />
        <div formArrayName="transformations">
            <div *ngFor="let transformation of mapForm.controls.transformations?.controls; let i=index">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span>Transformation {{i+1}}</span>
                        <span class="glyphicon glyphicon-remove pull-right" (click)="removeTransform(i)"></span>
                    </div>
                    <div class="panel-body">
                        <transformation-edit [group]="mapForm.controls.transformations.controls[i]" [i]="i"></transformation-edit>
                    </div>
                </div>              
            </div>
        </div>
        <hr *ngIf="mapForm.controls.transformations.length > 0"/>
        <button type="button" class="btn btn-default" (click)="back()">Back to Overview</button>
        <button type="button" class="btn btn-default" (click)="initMapForm()"><span class="glyphicon glyphicon-repeat"></span> Reset Map</button>      
        <button type="submit" class="btn btn-primary" [disabled]="!mapForm.valid"><span class="glyphicon glyphicon-plus"></span> Submit</button>     
    </form>
</div>