<div class="form pad-row" [formGroup]="fileForm">
    <div *ngIf="filePackageCount > 1" class="col-md-1">
        <input type="radio" (click)="primaryChanged(filePackage)" name="primary" id="'primary'+fileForm.controls.sourceId.value" [checked]="fileForm.controls.isPrimarySource.value == true" value="true" />
    </div>
    <div class="col-md-2">
        {{sourceName}}
    </div>
    <div class="col-md-2">
        {{sourceDescription}}
    </div>
    <div class="col-md-2">
        <label><input type="radio" [value]="true" formControlName="firstRowHeader" />First Row is Header</label>
        <label><input type="radio" [value]="false" formControlName="firstRowHeader" />Alternate First Row</label>
        <input type="number" class="form-control" min="1" *ngIf="!fileForm.controls.firstRowHeader.value" formControlName="altHeadRow" />
    </div>
    <div class="col-md-1">
        <input type="text" name="delimiter" class="form-control threechar" maxlength="1" size="1" formControlName="delimiter" />
        <small *ngIf="!fileForm.controls.delimiter.valid" class="text-danger">
            Input Delimiter required
        </small>
    </div>
    <div class="col-md-4">
        <div class="input-group">
            <label class="input-group-btn">
                <span class="btn btn-default">
                    Browse&hellip; <input type="file" name="dataFile" style="display:none;" #dataFile ng2FileSelect [uploader]="uploader" (change)="onFileChange($event)" />
                </span>
            </label>
            <input type="text" class="form-control" readonly value="{{dataFile.value | extractFileName}}" formControlName="file" />
        </div>
        <small *ngIf="!fileForm.controls.file.valid" class="text-danger">
            Source File required
        </small>
    </div>
</div>           