<div class="panel panel-default">
    <div class="panel-heading">
        Select Source Field
    </div>
    <div class="panel-body">
        <div class="list-group" *ngIf="sourceFields.length > 0">
            <a href="javascript:;" *ngFor="let sourceField of sourceFields | paginate: { itemsPerPage: 5, currentPage: z };"  class="list-group-item" [class.active]="sourceField == selectedSourceField" (click)="onSelectSourceField(sourceField)">
                <h4 class="list-group-item-heading">{{sourceField.name}}</h4>
                <div class="row">
                    <div class="col-md-4">
                        {{sourceField.seqNum}}
                    </div>
                    <div class="col-md-4">
                        {{sourceField.datatype}}
                    </div>
                    <div class="col-md-4">
                        Active?: {{sourceField.active}}
                    </div>
                </div>
            </a>

        </div>    
        <div *ngIf="sourceFields.length == 0">
            No Source Fields to show
        </div>
        <div class="align-center" *ngIf="sourceFields && sourceFields.length > 5">
            <pagination-controls (pageChange)="z = $event" #api>
            </pagination-controls>
        </div>
    </div>
</div>