<div *ngIf="clients.length > 0" class="panel panel-default">
    <div class="panel-heading">Existing Clients</div>
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-2">Name</div>
                <div class="col-md-2">Industry</div>
                <div class="col-md-2">Created By</div>
                <div class="col-md-1">Created On</div>
                <div class="col-md-2">Last Modified By</div>
                <div class="col-md-1">Modified On</div>
                <div class="col-md-2"></div>
            </div>
        </li>
        <li class="list-group-item" *ngFor="let client  of clients | paginate: { itemsPerPage: 5, currentPage: p }; let i=index">
            <div class="row">
                <div class="col-md-2">{{client.name}}</div>
                <div class="col-md-2">{{client.industry}}</div>
                <div class="col-md-2">{{client.created_By}}</div>
                <div class="col-md-1">{{client.creation_Date | date: 'MM/dd/yyyy'}}</div>
                <div class="col-md-2">{{client.modified_By}}</div>
                <div class="col-md-1">{{client.date_Modified | date: 'MM/dd/yyyy'}}</div>
                <div class="col-md-2">
                    <button class="btn btn-default" (click)="edit(client)"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                    <button class="btn btn-default" (click)="delete(client.clientId)"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                </div>
            </div>
        </li>
    </ul>
</div>      