<div class="panel panel-default">
    <div class="panel-heading">
        Add / Edit Conditions
    </div>
    <div class="panel-body">
        <div class="margin-add-bottom">
            <div *ngIf="conditions.length > 0">
                <div class="container-fluid">
                    <div *ngFor="let condition of conditions; let i=index" class="row override-bs-padding">
                        <div class="col-md-1">
                            <select class="form-control" *ngIf="i != 0" [(ngModel)]="condition.chain_Operation" name="chain_Operation" #chain_Operation="ngModel">
                                <option value="||">Or</option>
                                <option value="&&">And</option>
                            </select>
                        </div>
                        <div class="col-md-1">
                            <select class="form-control" [(ngModel)]="condition.left_Paren" name="left_Paren" #left_Paren="ngModel">
                                <option value=""></option>
                                <option value="(">(</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" (click)="openSourceSelect(content, condition)"><span class="glyphicon glyphicon-search"></span> Source Field</button>
                                </span>
                                <label *ngIf="condition.sourceField != null" class="form-control hide-overflow">{{condition.sourceField.name}}</label>
                                <label *ngIf="condition.sourceField == null" class="form-control hide-overflow">Source Field</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div *ngIf="condition.sourceField != null">
                                <select class="form-control" [(ngModel)]="condition.operation" name="operation" #operation="ngModel">
                                    <option value="" disabled selected>Select Operator</option>
                                    <!-- Show different select values based on sourcefield datatype -->
                                    <!-- Options for date and number/currency sourcefields -->
                                    <option [hidden]="condition.sourceField.datatype != 'num' && condition.sourceField.datatype != 'currency' && condition.sourceField.datatype != 'date'"
                                            *ngFor="let option of dateNumOpts" value="option.value">
                                        {{option.display}}
                                    </option>
                                    <!-- Options for text-based sourcefields-->
                                    <option [hidden]="condition.sourceField.datatype != 'text' && condition.sourceField.datatype != 'url' && condition.sourceField.datatype != 'email'"
                                            *ngFor="let option of textOpts" value="option.value">
                                        {{option.display}}
                                    </option>
                                    <!-- Options for boolean opts -->
                                    <option [hidden]="condition.sourceField.datatype != 'bool'" *ngFor="let option of boolOpts" value="option.value">
                                        {{option.display}}
                                    </option>
                                </select>
                            </div>                           
                        </div>
                        <div class="col-md-3">
                            <div *ngIf="condition.sourceField != null">
                                <!-- Display this input for selected sourcefields of datatypes text, email, or url -->
                                <input *ngIf="condition.sourceField.datatype == 'text' || condition.sourceField.datatype == 'url' || condition.sourceField.datatype == 'email'"
                                       class="form-control" type="text" [(ngModel)]="condition.cond_Value" name="cond_Value" #cond_Value="ngModel" />
                                <!-- Display for number and currency inputs -->
                                <input *ngIf="condition.sourceField.datatype == 'num' || condition.sourceField.datatype == 'currency'"
                                       class="form-control" type="number" step="any" [(ngModel)]="condition.cond_Value" name="cond_Value" #cond_Value="ngModel" />
                                <!-- Display for date input -->
                                <input *ngIf="condition.sourceField.datatype == 'date'" class="form-control" name="cond_Value" #cond_Value="ngModel" [(ngModel)]="condition.cond_Value"
                                           ng2-datetime-picker
                                           date-only="true" required />
                                <!-- Display for boolean input -->
                                <select *ngIf="condition.sourceField.datatype == 'bool'" class="form-control" [(ngModel)]="condition.cond_Value" name="cond_Value" #cond_Value="ngModel">
                                    <option value="" disabled selected>Select T/F</option>
                                    <option value="true">True</option>
                                    <option value="false">False</option>
                                </select>
                            </div>                      
                        </div>
                        <div class="col-md-1">
                            <select class="form-control" [(ngModel)]="condition.right_Paren" name="right_Paren" #right_Paren="ngModel">
                                <option value=""></option>
                                <option value=")">)</option>
                            </select>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-default" (click)="removeCondition(condition)"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                        </div>
                    </div>
                </div>        
            </div>
            <div *ngIf="conditions.length == 0" class="pad-content">
                No Conditions to show
            </div>
        </div>  
        <button type="button" class="btn btn-default" (click)="addCondition()"><span class="glyphicon glyphicon-plus"></span> Add Condition</button>
    </div>
</div>
<!-- Modal to contain Source Selection component -->
<template ngbModalContainer #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Select a Source Field</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-6">
                <source-list></source-list>
            </div>
            <div class="col-sm-6">
                <sourcefield-list></sourcefield-list>
            </div>
        </div>   
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="c('Select SField')" [disabled]="!hasSelectedSourceField">Select Source Field</button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</template>
